body {
  background: #141517 !important;
}

* {
  scroll-behavior: smooth;
}

figcaption {
  word-break: break-all;
}

a {
  text-decoration: none;
}

.repeating-grid {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #23262d 1px, transparent 1px),
    linear-gradient(to bottom, #23262d 1px, transparent 1px);

  background-position: top center;
  image-rendering: pixelated;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    20%,
    white,
    90%,
    transparent
  );
}
